/terraform.tfvars
/.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup